<div class="container">

    <flka-header-bar selected='flickrList'></flka-header-bar>

    <h1>{{ entry.title }} <a href='#/flickr/list' class='btn btn-info pull-right sm-only'>Back</a></h1>

    <div class='crop pull-left details'>
        <img ng-src='{{ entry.media.m }}' />
    </div>
            <p><a tooltip-placement="bottom"
                  href='http://www.flickr.com/people/{{entry.author_id}}'
                  target='_blank'><strong>Photo author</strong></a>
             | <strong>Published:</strong> {{ entry.published | date  : "medium" }}</p>

            <p>{{entry.description | htmlToPlaintext}}</p>

            <div><strong>Tags:</strong>
                <ul class='tags'>
                    <li ng-repeat="tag in entry.tags.split(' ')"><a href='#'>{{tag}}</a></li>
                </ul>
            </div>


</div>