h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flka-list-entry {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  border-bottom: 2px solid #ccccd2;
}
.flka-list-entry .crop {
  width: 150px;
  height: 100px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  background: white;
  text-align: center;
  border: 1px solid #ccccd2;
}
.flka-list-entry .crop img {
  width: auto;
  height: 100px;
}
.flka-list-entry h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: #2770f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flka-list-entry p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  overflow: hidden;
}
.description p {
  float: left;
  margin-right: 5px;
}
.details {
  margin-right: 10px;
}
ul.tags {
  display: inline;
  margin: 0;
  padding: 0;
}
ul.tags li {
  margin: 0;
  padding: 0;
  display: inline;
}
ul.tags li + li:before {
  content: ", ";
}
@media screen and (max-width: 800px) {
  .sm-hide {
    display: none;
  }
  .flka-list-entry .crop {
    width: 90px;
    height: 100px;
  }
  .flka-list-entry .crop img {
    height: 100px;
  }
}
@media screen and (min-width: 800px) {
  .pushUp {
    float: left;
    margin-right: 10px;
  }
}
